nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 12px;
  padding: 1px 2px;
  height: 35px;
}

#socialsnlinks {
  display: flex;
  gap: 10px;
}

#socialsnlinks > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#socialsnlinks > div > a {
  height: 25px;
}
